html {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background: #F9E79F;
    

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

button {
    outline: none;
    cursor: pointer;
    font-family: 'Courier New',sans-serif;
    background-color: aqua;
    border: none;
    box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
}

button:hover {
    filter: brightness(75%);
}

button:active {
    transform: scale(0.85);
}

